h1
  font-size: $size-1

h2
  font-size: $size-2

h3
  font-size: $size-3

h4
  font-size: $size-4

label.is-required:after
  content: " *"
  color: $danger

.is-styled
  font-family: 'IM Fell English SC', serif

.content.is-light
  color: $grey-lighter

.content.is-light > a:link
  color: $white

@include tablet
  .hero.is-landing
    background-color: transparent !important

  .hero.is-landing:after
    background: url(/images/house_bg.jpg) 0 0 / cover no-repeat
    bottom: 0
    content: ""
    left: 0
    opacity: .2
    position: absolute
    right: 0
    top: 0
    z-index: -1

@include mobile
  .hero.is-landing
    background-color: rgba(255, 255, 255, .2) !important
  
  .hero.is-landing:after
    background: url(/images/crest.png) center 75px / 80% no-repeat fixed padding-box content-box
    bottom: 0
    content: ""
    left: 0
    opacity: .1
    position: absolute
    right: 0
    top: 0
    z-index: -1

.hero.is-badged
  background: $primary url(/images/badge-faded.png) right top no-repeat fixed padding-box content-box

.footer
  background-color: $primary
  color: $white-ter

.to-top
  background-color: $grey-light
  border-radius: $radius
  bottom: 1rem
  opacity: .3
  padding: 1rem
  position: fixed
  right: 1rem

.datepicker
  position: relative

.calendar
  max-width: $calendarWidth
  position: absolute
  width: $calendarWidth
  z-index: 100
  header
    p
      flex-grow: 1
      font-weight: 700
      padding: .75rem
    p, a
      cursor: pointer
      text-align: center
      &:hover
        background: $white-ter

  .cell
    text-align: center
    vertical-align: middle
    &:not(.blank)
      cursor: pointer
      &:hover
        background-color: lighten($primary, 70%)

    &.selected
      background-color: $primary
      color: $white-ter

    &.day-header
      font-size: 75%
      white-space: no-wrap
      cursor: inherit
      &:hover
        background: inherit
